@charset "UTF-8";

/*
**** Configurações gerais ****
*/
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/*
**** Menu ****
*/
header {
    background: rgba(0, 0, 0, 0.186);
    position: fixed;
    z-index: 1;
}

header:hover {
    background-color: black;
    transition-duration: 0.5s;
}

.menu {
    width: 100vw;
    display: flex;
    justify-content: right;
    padding: 25px;
    z-index: 10;
}

.menu:hover {
    background: black;
    transition-duration: 0.5s;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    left: 10px;
    width: 200px;
    z-index: 12;
}

.logo:hover {
    transform: scale(0.8);
    transition-duration: 0.5s;
}

ul {
    list-style-type: none;
    float: left;
    position: relative;
    right: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}

li {
    float: left;
}

ul a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline 3px;
    text-underline-offset: 10px;
}

/*
**** Sessão 1 ****
*/
.sessao1 {
    height: 800px;
    z-index: 1;
}

.video-s1 {
    width: 100%;
}

.proximoshow {
    background: url('imagens/background2.png') no-repeat right;
    height: 120px;
    width: 190px;
    display: inline-block;
    padding: 0;
    border-radius: 5px;
    position: relative;
    bottom: 450px;
    left: 20px;
    color: white;
    cursor: default;
}

.proximoshow:hover {
    color: black;
    background-position: left;
    transition-duration: 0.5s;
}

.info {
    position: relative;
    left: 10px;
    top: 7px;

}

.plataformas {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 4;
    bottom: 370px;
}

.sessao1 img {
    background: rgba(0, 0, 0, 0.24);
    margin: 10px;
    border-radius: 30px;
}

.sessao1 img:hover {
    background-color: black;
    transition-duration: 0.5s;
}

/*   IMG HOVERS   */
img.spotifyimg:hover {
    background: white;
}

img.youtubeimg:hover {
    background: red;
}

img.deezerimg:hover {
    background: blue;
}

/*
**** Sessão 2 ****
*/
.sessao2 {
    margin-bottom: 150px;
}

.agenda {
    position: relative;
    left: 50px;
}

.sessao2 h1 {
    position: relative;
    top: 30px;
    font-size:90px;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px #007fc7;
}

.sessao2 form {
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    background: #007fc7;
    position: relative;
    top: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sessao2 label {
    line-height: 10px;
    background-color: #008fc7;
    padding: 7px;
    border-radius: 10px;
}

.sessao2 select {
    background: #007fc7;
    color: white;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.sessao2 option {
    background: #007fc7;
    color: white;
    border: none;
}

.shows {
    margin: 10px;
}

.card-shows {
    background-color: #007fc7;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    top: 50px;
    width: 400px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    line-height: 20px;
}

.card-shows p {
    margin: 10px 20px;
}

.dia {
    font-size: 30px;
    font-weight: bold;
}

.cidade {
    font-size: 18px;
}

.local {
    font-size: 15px;
}

/*
**** Sessão 3 ****
*/
.sessao3 h1 {
    position: relative;
    left: 50px;
    top: 30px;
    font-size:90px;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px red;
}

.frames {
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 27px;
}

.sessao3 iframe {
    margin: 10px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
}


@media only screen and (max-width: 600px) {

    .menu {
        display: none;
    }

    .plataformas {
        bottom: 100px;
    }

    .sessao1 img {
        background: none;
        margin: 0 -30px;
    }

    .sessao1 img:hover {
        transform: scale(1.2);
        background: none;
    }
}